@import "tailwindcss";

@theme {
  --color-main-bg: #f0f0f0;
  --color-card-bg: #fff;
  --color-primary-text: #1d1d1f;
  --color-secondary-text: #8a8a8e;
  --color-highlight-blue: #2196f3;
}

body {
  height: 100dvh;
  margin: 0;
  padding: 0;
}
