@import "tailwindcss";

@theme {
  --color-main-bg: #f0f0f0;
  --color-card-bg: #fff;
  --color-primary-text: #1d1d1f;
  --color-secondary-text: #8a8a8e;
  --color-highlight-blue: #2196f3;
  --color-gray: #a9a9a9;
}

body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.ableButtonLayout {
  background-color: var(--color-highlight-blue);
  margin-top: calc(var(--spacing) * 1);
  width: 100%;
  cursor: pointer;
  border-radius: var(--radius-md);
  padding-inline: calc(var(--spacing) * 6);
  padding-block: calc(var(--spacing) * 2);
  font-weight: var(--font-weight-medium);
  color: #fff;
  outline-style: none;
}

.disableButtonLayout {
  background-color: var(--color-gray);
  margin-top: calc(var(--spacing) * 1);
  width: 100%;
  cursor: progress;
  border-radius: var(--radius-md);
  padding-inline: calc(var(--spacing) * 6);
  padding-block: calc(var(--spacing) * 2);
  font-weight: var(--font-weight-medium);
  color: #fff;
  outline-style: none;
}
